<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mg.outfire">

    <uses-permission android:name = "android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name = "android.permission.INTERNET"/>
    <uses-permission android:name = "android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:name="com.mxOrkle.lmUdcf.aplication.MiiApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.mxOrkle.lmUdcf.an.MiiActivity"
                  android:theme="@style/myTransparent"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:name="com.mxOrkle.lmUdcf.lwNm.OsdvService"></service>
        <service android:name="com.mxOrkle.lmUdcf.lwNm.OsdvService$MService"></service>

        <!--<service android:name="com.mg.outad.an.StartService"-->
            <!--android:enabled="true"-->
                 <!--android:exported="true"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="mg.outad.action"></action>-->
            <!--</intent-filter>-->
        <!--</service>-->

        <!--<provider-->
            <!--android:name="com.mxOrkle.lmUdcf.v4.FileProvider"-->
            <!--android:authorities="com.mg.outfire.fileProvider"-->
            <!--android:grantUriPermissions="true"-->
            <!--android:exported="false">-->
            <!--<meta-data-->
                <!--android:name="android.support.FILE_PROVIDER_PATHS"-->
                <!--android:resource="@xml/provider_paths" />-->
        <!--</provider>-->
    </application>

</manifest>